<template>
  <div>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="logo"
          class="my-3"
          contain
          height="200"
        />
      </v-col>

      <v-col class="mb-4">
        <br/>
        <v-btn rounded="xl" prepend-icon="mdi-shuffle" v-on:click="getBoxes()" size="x-large" color="blue-lighten-1">Simulate</v-btn>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-card
          class="mx-auto"
          max-width="500"
          elevation = 5
        >
          <h3 class="display-2 font-weight-bold mb-3">Before hunt</h3>
          <v-container fluid>
            <v-row dense>
              <v-col
                v-for="box in beforeBoxes"
                :key="box.boxType"
                :cols="flexes"
              >
                <v-card
                  elevation = 0
                >
                  <v-img
                    :src="getSrc(box.boxType)"
                    class="align-end"
                    height="100px"
                    cover
                  >
                    <v-toolbar
                      color="rgba(0, 0, 0, 0)"
                      :title="box.name"
                    >
                    </v-toolbar>
                    <v-card-title class="text-black" v-text="surroundTreasure(box.nbTreasures, box.boxType)"></v-card-title>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>

      <v-col>
        <v-card
          class="mx-auto"
          max-width="500"
          elevation = 5
        >
        <h3 class="display-2 font-weight-bold mb-3">After hunt</h3>
          <v-container fluid>
            <v-row dense>
              <v-col
                v-for="box in boxes"
                :key="box.boxType"
                :cols="flexes"
              >
                <v-card
                  elevation = 0
                >
                  <v-img
                    :src="getSrc(box.boxType)"
                    class="align-end"
                    height="100px"
                    cover
                  >
                    <v-toolbar
                      color="rgba(0, 0, 0, 0)"
                      :title="box.name"
                    >
                    </v-toolbar>
                    <v-card-title class="text-black" v-text="surround(box.nbTreasures)"></v-card-title>
                  </v-img>
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import logo from '../assets/img.png';
import treasure from '../assets/treasure.png';
import hunters from '../assets/hunters.png';
import mountain from '../assets/mountain.jfif';
import BoxesService from '../services/BoxesServices'

export default {
  name: 'Box',
  components: {
  },
  data() {
      return {
        logo,
        flexes: 0,
        boxes: [],
        beforeBoxes: []
      };
    },
    mounted() {
    },
    created() {

    },
    methods: {
      getBoxes() {
        BoxesService.getBoxes().then((response) => {
          this.boxes = response.data[1].flatMap(innerArray => {
            return innerArray.map(num => num);
          });
          this.beforeBoxes = response.data[0].flatMap(innerArray => {
            return innerArray.map(num => num);
          });
          this.flexes = Math.floor(12/response.data[0][0].length);
          console.log(this.beforeBoxes);
        })
      },
      getSrc(type) {
        switch (type) {
          case "MOUNTAIN":
            return mountain;
          case "TREASURE":
            return treasure;
          case "ADVENTURER":
            return hunters;
          default:
            return "";
        }
      },
      surround(nbr){
        if(typeof nbr === "undefined") {
          return "";
        } else {
          return "(" + nbr + ")";
        }
      },
      surroundTreasure(nbr, type){
        if(typeof nbr === "undefined" || type !== "TREASURE") {
          return "";
        } else {
          return "(" + nbr + ")";
        }
      }
    }
}
</script>

<style>
  .center{
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .container {
    margin-left: 15%;
  }
  .card-bottom {
    margin-left: 20%;
  }
  .suit {
    color: red;
  }
</style>