<template>
  <v-app>
    <v-main>
      <Box/>
    </v-main>
  </v-app>
</template>

<script>
import Box from './components/Box.vue'

export default {
  name: 'App',

  components: {
    Box,
  },

  data: () => ({
    //
  }),
}
</script>
